#DATABASES CONFIG
MONGODB_URI=
PORT=

#JWT CONFIG
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=

#GMAIL CONFIG
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

#MOMO_CONFIG
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=

#Google Auth Config
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=