#DATABASES CONFIG
MONGODB_URI=
PORT=

#JWT CONFIG
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES=

#GMAIL CONFIG
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

#ZALOPAY CONFIG
ZP_APP_ID=
ZP_KEY1=
ZP_KEY2=
ZP_API_CREATEORDER=
ZP_API_QUERYORDER=

#MOMO_CONFIG
MOMO_TEST_ENV_URL=
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=

#NGROK_HOOK
NGROK_HOOK=

#BACK_END_API_CONFIG
BACK_END_BASE_URL=

#FRONT_END_API_CONFIG
FRONT_END_BASE_URL=
FRONT_END_CHECKOUT=

#Google Auth Config
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Redis Cloud
REDIS_URL=
CACHE_TTL=

# Cloudinary Config
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# ================= Microservices Config =================
HOST=

# ----- Api Gateway -----
API_GATEWAY_HOST=
API_GATEWAY_PORT=

# ----- Media Service -----
MEDIA_SERVICE_HOST=
MEDIA_SERVICE_PORT=

# ----- Auth Service -----
AUTH_SERVICE_HOST=
AUTH_SERVICE_PORT=

# ----- Product Service -----
PRODUCT_SERVICE_HOST=
PRODUCT_SERVICE_PORT=

# ----- Order Service -----
ORDER_SERVICE_HOST=
ORDER_SERVICE_PORT=

# ----- Payment Service -----
PAYMENT_SERVICE_HOST=
PAYMENT_SERVICE_PORT=